@import '../../styles/variables.scss';

.b-sidebar-menu {
    position: relative;
    width: 230px;
    height: calc(100vh - 50px);
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    transition: width 0.3s ease, background-color $transition-time $ease-func;

    .list {
        width: 230px;
        margin: 0;
        padding: 20px 0;
        list-style-type: none;
        box-sizing: border-box;
    }

    .item {
        display: block;
        width: 100%;
        margin-bottom: 10px;

        a {
            display: flex;
            align-items: center;
            padding: 7px 11px;
            color: #000;
            text-decoration: none;
        }

        .icon {
            margin-right: 20px;
            transform-origin: left;
            transition: transform 0.2s ease;
        }

        &.active {
            box-shadow: 0 0 0 1px #000;
        }
    }

    .toggle-button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 14px;
        cursor: pointer;

        &.left {
            transform: rotate(180deg);
        }
    }

    &.fixed {
        position: fixed;
        left: 0;
        top: 50px;
        z-index: 1;
    }

    &.narrow {
        width: 54px;

        .icon {
            transform: scale(1.8);
        }

        .text {
            visibility: hidden;
        }
    }

    &.closed {
        width: 0;
    }
}