@import '../variables.scss';

body.blue {
    .ReactModal__Content {
        background: $blue-accent-color !important;
        color: #fff !important;

        svg {
            color: #fff !important;
        }
    }

    .btn-primary {
        color: #000;
        background-color: #ffffff;
        border-color: #ffffff;

        &:focus {
            outline: none;
        }

        &:hover {
            color: #000;
            background-color: darken(#ffffff, 5%);
            border-color: #ffffff;
        }

        &.theme-style {
            background-color: $blue-accent-color;
            color: #fff;
        }
    }

    .b-sidebar-menu.fixed {
        background-color: $blue-accent-color;
        box-shadow: 1px 0px 6px 0 $blue-shadow-color;

        .item {
            a,
            .icon {
                color: #fff;
            }

            &.active {
                box-shadow: 0 0 0 1px #fff;
            }
        }

        .toggle-button .icon {
            color: #fff;
        }
    }
    
    .b-header {
        background-color: $blue-accent-color;
        box-shadow: 0px 1px 6px 0 $blue-shadow-color;
    }
    
    .b-menu-toggle {
        .path-rotation {
            &:before {
                background: #fff;
            }
        }
    
        .burger-bun-top,
        .burger-bun-bot,
        .burger-filling {
            background: #fff;
        }
    
        .svg-ring .path {
            stroke: #fff;
        }
    }
}