@import '../variables.scss';

body.dark {
    .b-sidebar-menu {
        background-color: $dark-accent-color;
        box-shadow: 1px 0px 6px 0 $dark-shadow-color;
    
        .item {
            a,
            .icon {
                color: #fff;
            }

            &.active {
                box-shadow: 0 0 0 1px #fff;
            }
        }

        .toggle-button .icon {
            color: #fff;
        }
    }
    
    .b-header {
        background-color: $dark-accent-color;
        box-shadow: 0px 1px 6px 0 $dark-shadow-color;
    }
    
    .b-menu-toggle {
        .path-rotation {
            &:before {
                background: #fff;
            }
        }
    
        .burger-bun-top,
        .burger-bun-bot,
        .burger-filling {
            background: #fff;
        }
    
        .svg-ring .path {
            stroke: #fff;
        }
    }
}