.Fade-enter {
    opacity: 0;
    transform: translateY(100px);
    z-index: 2;
}
.Fade-enter.Fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s ease 0.3s;
}
.Fade-exit {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    transform: translateY(0);
}
.Fade-exit.Fade-exit-active {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease;
}

.Fade-up-enter {
    opacity: 0;
    transform: translateY(30px);
}
.Fade-up-enter.Fade-up-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.35s ease 0.4s;
}