@import './variables.scss';
@import './animations.scss';
@import './themes/light.scss';
@import './themes/dark.scss';
@import './themes/green.scss';
@import './themes/blue.scss';

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: default;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    color: black;
    background: #fff;
    -webkit-font-smoothing: antialiased;

    a:focus {
        outline: none;
    }
}

.App {
    .app-body {
        margin-top: 50px;
        display: flex;
    }
}

.p-content-section {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.g-card-content {
    width: 100%;
    margin: 20px;
    box-shadow: 0 1px 8px 0 rgba(32,32,32,0.25);

    &.padding-offset {
        padding: 20px;
    }
}

.g-page-title {
    margin-bottom: 0.3em;
    margin-left: 30px;
    font-size: 22px;
    line-height: 3em;
}

.g-submit-button {
    display: inline-block;
    min-width: 150px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px 15px;
    color: #fff;
    background-color: rgba(104, 189, 70, 0.8);
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgb(104, 189, 70);    
    }
    
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.g-user-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;

    &.small {
        width: 35px;
        height: 35px;
        margin-bottom: 0;
    }

    .image {
        display: block;
        width: 100%;
    }
}

.form-input {
    display: block;
    width: 250px;
    margin-bottom: 25px;

    &--error {
        .form-input__field {
            box-shadow: 0 0 0 1px rgba(168, 56, 56, 0.6);
        }

        .form-input__error {
            display: block;
        }
    }

    &__field {
        display: block;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 10px 15px;
        box-shadow: 0 0 0 1px rgba(32, 32, 32, 0.25);
    }

    &__error {
        margin-top: 3px;
        font-size: 12px;
        color: rgb(168, 56, 56);
        display: none;
    }
}