$green-accent-color: rgb(197, 178, 84);
$green-shadow-color: rgba(197, 178, 84,0.2);

$blue-accent-color: rgb(133, 95, 238);
$blue-shadow-color: rgba(133, 95, 238,0.2);

$light-accent-color: #fff;
$light-shadow-color: rgba(10,10,10,0.2);

$dark-accent-color: rgb(62, 61, 61);
$dark-shadow-color: rgba(0, 0, 0, 0.2);

$transition-time: 0.4s;
$ease-func: ease;