.gear-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    fill: #000;
    // stroke: Crimson;
    animation: spin 2s forwards;   
  
    &:hover {
      animation: spin 2s infinite;   
    }
}
  
@keyframes spin {
    from {
      transform: 
        translate(-50%, -50%)
        rotate(0);
    }
    to {
      transform: 
        translate(-50%, -50%)      
        rotate(359deg);
    }
}