@import '../../styles/variables.scss';

.p-themes-wrapper {
    display: flex;
}

.b-theme-card {
    width: 120px;
    height: 185px;
    margin: 0 30px;
    border-radius: 4px 4px 0 0;
    box-shadow: 1px 1px 6px 0 rgba(10,10,10,0.2);
    opacity: 0.5;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s ease;

    .color {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;

        &.light {background-color: darken($light-accent-color, 5%);}
        &.dark {background-color: $dark-accent-color;}
        &.green {background-color: $green-accent-color;}
        &.blue {background-color: $blue-accent-color;}
    }

    .icon {
        width: 3em;
        height: 3em;
        opacity: 0;
        color: #fff;
        transition: opacity 0.3s ease;
    }

    .name {
        padding: 20px;
        background-color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    &.active {
        opacity: 1;

        .icon {
            opacity: 1;
        }
    }
}